top {
	display: flex;
	background-color: #4d4f50;
	border: 0px;
	margin-bottom: 0px;
	justify-content: space-between;
	height: 100px;
}

.boutton {
	margin-top: 20px;
	width: 60px;
	height: 60px;
	background-color: #edfcff;
	border-width: 0;
}

#navbar{
	margin-left: auto;
	margin-right: auto;
}

.boutton img {
	width: 50%;
}

#base
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#logo {
	width: 100px;
	height: 75px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
}

#msgerrage
{
	display:none;
}

#escargot
{
	display: none;
}

#kangourou
{
	display: none;
}

#logo {
	width: 100%;
	border-radius: 10px;
}

.navbar {
	margin-top: 20px;
	margin-right: 150px;
}

#Hr {
	height: 4px;
	background-color: #545758;
	border: none;
}

#carouselExampleCaptions {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.navbar ul li a {
	text-decoration: none;
	color: #000;
	text-transform: uppercase;
}

.navbar ul li ::after {
	content: '';
	height: 3px;
	width: 0;
	background: #1f6ed4;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.5s;
}

.navbar ul li {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
	font-family: 'Gotham', sans-serif;
}

.navbar ul li :hover:after {
	width: 100%;
}

#bar {
	background-color: #b0c8ce;
}

#img_car
{
	width: 100%;
	height: 600px;
}

#bgFooter
{
	background-color: #b0c8ce;
}