top {
	display: flex;
	background-color: #4d4f50;
	border: 0px;
	margin-bottom: 0px;
	justify-content: space-between;
	height: 100px;
}
#Hr {
	height: 4px;
	background-color: #b7d3db;
	border: none;
}

.invalid-selection{
	display: none;
}

.boutton {
	margin-top: 20px;
	width: 60px;
	height: 60px;
	background-color: #edfcff;
	border-width: 0;
}


#navbar{
	margin-left: auto;
	margin-right: auto;
}

.boutton img {
	width: 50%;
}

#logo {
	width: 100px;
	height: 75px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
}

#left
{
    margin-right: 650px;
}

#f1
{
    margin-top: 15px;
    margin-bottom: 15px;
}

#age 
{
    margin-top: 15px;
    margin-bottom: 15px;
}

#f2 , #f3 , #f4, #f5, #f6 {
    margin-bottom: 15px;
}

#invalid-selection
{
    display: none;
}

#soumettre
{
    margin-top: 10px;
}

.navbar ul li a {
	text-decoration: none;
	color: #000;
	text-transform: uppercase;
}

.container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
}

.navbar ul li ::after {
	content: '';
	height: 3px;
	width: 0;
	background: #1f6ed4;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.5s;
}

.navbar ul li {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
	font-family: 'Gotham', sans-serif;
}

.navbar ul li :hover:after {
	width: 100%;
}

#bar
{
	background-color: #b0c8ce;
}

.navbar {
	margin-top: 20px;
}

#logo {
	width: 100%;
	border-radius: 10px;
}

#header1{
	margin-bottom: 15px;
	margin-left: 10%;
}