.container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
}

#logo
{
	width: 160px;
	height: 70px;
	border-radius: 20px;
}

#left
{
    margin-right: 650px;
}

.container 
{
    margin-bottom: 25px;
}

#f1
{
    margin-top: 15px;
    margin-bottom: 15px;
}

#age 
{
    margin-top: 15px;
    margin-bottom: 15px;
}

#f2 , #f3 , #f4, #f5, #f6 {
    margin-bottom: 15px;
}

#invalid-selection
{
    display: none;
}

#soumettre
{
    margin-top: 10px;
}