#main{
    display: flex;
    flex-direction: column;
}

#details{
    border: solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-top: 20px;
	width: 60%;
}



body {
	display: flex;
	flex-direction: column;
	margin: 0px;
	padding: 0px;
}

@font-face {
	font-family: 'Gotham';
	src: url('path/to/Gotham-Regular.ttf') format('truetype');
}

.top {
	display: flex;
	background-color: #edfcff;
	border: 0px;
	margin-bottom: 0px;
	justify-content: space-between;
	height: 100px;
}

.boutton {
	margin-top: 20px;
	width: 60px;
	height: 60px;
	background-color: #edfcff;
	border-width: 0;
}

.boutton img {
	width: 50%;
}

#logo {
	width: 100px;
	height: 75px;
	margin-top: 10px;
	margin-left: 20px;
}

#msgerrage
{
	display:none;
}

#logo {
	width: 100%;
	border-radius: 10px;
}

.navbar {
	margin-top: 20px;
	margin-right: 150px;
}

#Hr {
	height: 4px;
	background-color: #b7d3db;
	border: none;
}

.navbar ul li a {
	text-decoration: none;
	color: #000;
	text-transform: uppercase;
}

.navbar ul li ::after {
	content: '';
	height: 3px;
	width: 0;
	background: #1f6ed4;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.5s;
}

.navbar ul li {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
	font-family: 'Gotham', sans-serif;
}

.navbar ul li :hover:after {
	width: 100%;
}