<!DOCTYPE html>
<html lang="fr-CA">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/404.css') }}">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
      <title>Erreur</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
   </head>
   <body>
      <nav id="navbar" class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #e3f2fd;">
         <div class="container-fluid" id="bar">
            <a class="navbar-brand" href="/accueil"><img id="logo" src="{{ url_for('static', filename='Images/Logo.PNG') }}" alt="logo"> </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                     <a class="nav-link active" aria-current="page" href="/accueil">Accueil</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="/adoption">Deposez votre annonce</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="/apropos">A propos de nous</a>
                  </li>
               </ul>
               <form class="d-flex" action="/recherche" role="search">
                  <input class="form-control me-2" type="search" name="Kword" placeholder="Recherche" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Recherche</button>
               </form>
            </div>
         </div>
      </nav>
      <div id="cont" class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="error-template">
                  <h1>
                     Oops!
                  </h1>
                  <h2>
                     404 Ce n'est pas la ...
                  </h2>
                  <div class="error-details">
                     La page que vous cherchez ne ce trouve pas ici. 
                  </div>
                  <div class="error-actions">
                     <a href="/accueil" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                     Retourner a l'acceuil</a><a href="mailto:z.bouargan@aui.ma" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span> Nous contactez </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <footer class="text-center text-white" style="background-color: #f1f1f1;">
         <div class="container pt-4">
            <section class="mb-4">
               <a
                  class="btn btn-link btn-floating btn-lg text-dark m-1"
                  href="https://www.linkedin.com/in/zakariae-bouargan-18757622a/"
                  role="button"
                  data-mdb-ripple-color="dark"
                  ><i class="fab fa-linkedin"></i></a>
               <a class="btn btn-link btn-floating btn-lg text-dark m-1"
                  href="https://github.com/brainchemist2005"
                  role="button"
                  data-mdb-ripple-color="dark"
                  ><i class="fab fa-github"></i>
               </a>
            </section>
         </div>
         <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2023 Copyright:
            Zakariae BOUARGAN Jinane HATIM
         </div>
      </footer>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
   </body>
</html>