<!DOCTYPE html>
<html lang="fr-CA">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Plainte</title>
      <link rel="stylesheet" type="text/css" href="adoption.css">
      <script src=""></script>
   </head>
   <body>   
   
      <h1>Liste d'animaux</h1>
      <ul>
         {% for animal in animaux %}
         <li><a href="/animal/{{animal.id}}">{{animal.nom}}</a></li>
         {% endfor %}
      </ul>

      <label for="animal">Entrez dans la barre d'adresse l'id de l'animal que vous voulez adopter </label>        

   </body>
</html>