<!DOCTYPE html>
<html lang="fr-CA">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Plainte</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/accueil.css') }}">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">      <script src=""></script>
   </head>
   <body>   
      <nav id="navbar" class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #e3f2fd;">
         <div class="container-fluid">
           <a class="navbar-brand" href="#"><img id="logo" src="{{ url_for('static', filename='Images/Logo.PNG') }}"> </a>
           <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
           </button>
           <div class="collapse navbar-collapse" id="navbarSupportedContent">
             <ul class="navbar-nav me-auto mb-2 mb-lg-0">
               <li class="nav-item">
                 <a class="nav-link active" aria-current="page" href="/accueil">Accueil</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href="/adoption">Deposez votre annonce</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="#">A propos de nous</a>
                </li>
             </ul>
             
             <form class="d-flex" action="/recherche" role="search">
               <input class="form-control me-2" type="search" name="Kword" placeholder="Recherche" aria-label="Search">
               <button class="btn btn-outline-success" type="submit">Recherche</button>
             </form>
           </div>
         </div>
       </nav>
   
   <div id="base">
   <h1>Bienvenue dans notre centre d'adoption</h1>
   <div id="carouselExampleCaptions" class="carousel slide">
     <div class="carousel-indicators">
       {% for animal in animaux %}
         <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ loop.index0 }}" {% if loop.first %} class="active" aria-current="true" {% endif %} aria-label="Slide {{ loop.index }}"></button>
       {% endfor %}
     </div>
     <div class="carousel-inner">
       {% for animal in animaux %}
       <div class="carousel-item {% if loop.first %} active {% endif %}">
         <img src="{{ url_for('static', filename='Images/' + animal.nom + '.jpeg') }}" class="d-block w-100" alt="{{ animal.nom }}">
         <div class="carousel-caption d-none d-md-block">
           <h5>{{ animal.nom }}</h5>
           <p>{{ animal.description }}</p>
           <a href="/animal/{{animal.id}}" class="btn btn-light">En savoir plus</a>
         </div>
       </div>
       {% endfor %}
     </div>
     <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
       <span class="carousel-control-prev-icon" aria-hidden="true"></span>
       <span class="visually-hidden">Previous</span>
     </button>
     <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
       <span class="carousel-control-next-icon" aria-hidden="true"></span>
       <span class="visually-hidden">Next</span>
     </button>
   </div>
</div>
   
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
   </body>
</html>