<!DOCTYPE html>
<html lang="fr-CA">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Plainte</title>
      
   </head>
   <body>
       
    <p>Voici ce que vous avez entre</p>
    <p> {{nom}} </p> 
    <p>{{age}} </p> 
    <p>{{description}} </p> 
    <p>{{adresse}} </p> 
    <p>{{ville}} </p> 
    <p>{{codepostal}} </p>  
    <p>{{email}} </p> 
    <p>Merci! Bonne journee</p>
    <a href="/">Revenir a la page d'acceuil</a>


   </body>
   </html>>