<!DOCTYPE html>
<html lang="fr-CA">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Plainte</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
   </head>
   <body>   
   
    
    <p>Erreur</p>
    


    <footer class="text-center text-white" style="background-color: #f1f1f1;">
      <div class="container pt-4">
        <section class="mb-4">
          <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="https://www.linkedin.com/in/zakariae-bouargan-18757622a/"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-linkedin"></i></a>
          <a class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="https://github.com/brainchemist2005"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-github"></i>
          </a>
        </section>
      </div>
    
      <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        Zakariae BOUARGAN Jinane HATIMI
      </div>
    </footer>
   </body>
</html>