<!DOCTYPE html>
<html lang="fr-CA">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Plainte</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/adoption.css') }}">
      <script src="{{ url_for('static', filename='js/adoption.js') }}"></script>

   </head>
   <body>

   <p>   PAGE DE L'ANIMAL   </p>

   <a href="/adoption"> Cliquez ici pour remplir le formulaire d'adoption</a>

   </body>
   </html>  