<!DOCTYPE html>
<html lang="fr-CA">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/resultat_recherche.css') }}">
      <script src="resultat_recherche.js"></script>
      <title>Details d'animal</title>
   </head>
   <body>
    <div class="top">
         
        <img id="Alogo1" src="{{ url_for('static', filename='Images/Logo.PNG') }}">
     
     <div class="navbar">
      <ul>
         
         <li><a href="{{ url_for('adoption') }}">Adoptez un animal</a></li>
         
     </ul>
     
     </div>
     <a href="#recherche">
     <button type="button" class="boutton">
     <img src="https://icons.veryicon.com/png/o/miscellaneous/general-icon-collection-linear-fillet/icon_search-9.png" alt="Search Icon">
     </button>
     </a>          
  </div>
    <div id="main">
    <div id="left"></div>
    <div id="details">
      <h1>Details d'animal</h1>
      <img src="{{ url_for('static', filename='Images/' + animal.nom + '.jpeg') }}" alt="{{ animal.nom }}">
      <p>Nom: {{ animal.nom }}</p>
      <p>Espece: {{ animal.espece }}</p>
      <p>Race {{ animal.race }}</p>
      <p>Age: {{ animal.age }}</p>
      <p>Description: {{ animal.description }}</p>
      <p>Email: {{ animal.courriel }}</p>
      <p>Adresse: {{ animal.adresse }}</p>
      <p>Ville: {{ animal.ville }}</p>
      <p>Code Postal: {{ animal.cp }}</p>
      <a href="/page_animal"> Cliquez ici pour aller a la page de l'animal</a>
    </div>
</div>
   </body>
</html>